* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  text-transform: capitalize;
}
h2{
  width: 70%;
  padding: 3rem 0 0;
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
  margin: auto;
  text-shadow: 1px 3px #fff;
  color: #263238;
}

body{
  overflow-x: hidden;
}
html {
  font-size: 70%;
  scroll-behavior: smooth;
  background: linear-gradient(90deg, #cdffd8 29%, #94b9ff 100%);
}

header {
  height: 100%;
  width: 100vw;
  position: relative;
  padding-bottom: 0%;
}

#content-para{
  margin-top: 3rem;
}

header .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  padding-bottom: 0px;
  margin: auto;
  flex-basis: 1fr 1fr;
  margin-bottom: 6rem;
}

.left-side {
  align-self:start;
  margin-top: 3rem;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.navbar {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  
}
.navbar ul {
  display: flex;
  justify-content: flex-start;
}

.navbar ul li {
  list-style: none;
  margin: 0 .6rem;
}

ul li a{
  text-decoration: none;
  background: none;
  border: .2rem solid #fff;
  border-radius: 2rem;
  padding: .8rem 1.3rem;
  color: #263238;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.header .navbar ul li a:hover{
  background: #fff;
  border: .2rem solid #92e3a9;
}

.content {
  margin-top: 10rem;
}

.header .content .hello {
  background-color: #fff;
  color: #2bad50;
  font-size: 1.2rem;
  width: 36%;
  letter-spacing: 0.6rem;
  padding: .6rem 1rem;
  border-radius: 1.2rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 8rem;
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
  text-shadow: 3px 8px #fff;
  color: #263238;
  margin-left: 2.8rem;
  margin-top: 1.8rem;
}

h3{
  font-size: 3.5rem;
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
  text-shadow: 3px 8px #fff;
  color: #263238;
  margin-left: 2.8rem;
  margin-top: 1.8rem;
}

p {
  color: #2bad50;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1.8;
  padding-bottom: 3rem;
}


header .image img {
  width: 30vw;
  height: 100%;
  padding-bottom: 3rem;
  margin-top: 10rem ;
}

.about {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem auto;
  align-items: center;
}


.about .image {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.about img {
  width: 150%;
  align-self: center;
}

.about .image p {
  font-size: 1.2rem;
  text-align: center;
  color:  #9da5a9;
}
#man-laptop{
  padding: 10px;
  margin-top: 20px;
}
.about .image a {
  text-decoration: none;
  color: #94b9ff;
}

.about p {
  max-width: 35%;
  align-self: center;
  font-size: 1.5rem;
  text-align: justify;
  color: #7a8286;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
svg:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.contacts{
  padding: 3rem;
}

a:hover, button:hover{
  transform: scale(1.02);
    transition: transform 0.3s ease;
}
.contacts{
  display: flex;
  justify-content: center;
  gap: 20%;
}
.abt-contact .bs-icon-container{
  display: inline;
  justify-content: center;
  gap: 20px;
}
.projects h2 {
  width: 70%;
  padding: 3rem 0 0;
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
  margin: auto;
  text-shadow: 1px 3px #fff;
  color: #263238;
}
.projects .container {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 4rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  background: #fff;
  margin-bottom: 3rem;
  padding: 1rem;
}

.project-box .image {
  background-color: #e0e0e0;
  height: 15rem;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}
.project-box .image img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.project-box .text {
  padding: 2rem 0;
  text-align: center;
}

.project-box .text h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-bottom: .6rem;
  letter-spacing: .5rem;
  text-shadow: 1px 3px #fff;
  color: #263238;
}

.project-box .text p {
  font-size: 1.2rem;
  color: #7a8286;
  line-height: 1.8;
  text-align: justify;
}

.project-box .buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 10px;
}

.project-box a {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.project-box .demo {
  background: #94b9ff;
  border: 2px solid #94b9ff;
}

.project-box .repository {
  background: #cdffd8;
  color: #356d41;
  border: 2px solid #cdffd8;
}

.project-box .demo:hover{
  background: transparent;
  color: #263238 ;
  
  cursor: pointer;
}

.project-box .repository:hover{
  background: transparent;
  color: #263238 ;
  
  cursor: pointer;
}


input[type="text"], input[type="email"]{
  width: 50%;
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px #94b9ff;
  border-radius: 1rem;
  margin-right: 10%;
  margin-top: 5%;
}

#connect{
  padding: 1.5rem 2rem;
  margin: 10px auto;
  border-radius: 1rem;
  border: none;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.contacts-me{
  margin-bottom: 50px;
  margin-left: 15%;
}

.gaming{
  margin: 0px;
  display: flex;
}
h3{
  margin: 2em;
  padding-bottom: 0;
  margin-bottom: 0px;
}
.more-img{
  margin-top: 0px;
}
.more-para, .more-img{
  padding: 40px;
  margin: 20px auto;
  font-size: 20px;
}

.connect-img:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}


